<style>
    nav {
        border-radius: 5px;
        background-color: #e3f2fd;
    }
</style>


<nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">
                Counter
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/hero']" [routerLinkActive]="'active'" class="nav-link">Hero</a>
        </li>
    </ul>
</nav>