<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
        <!-- <h3>Personajes</h3>
        <hr>
        <ul>
            <li *ngFor="let personaje of personajes;let i = index">
                {{personaje.nombre}} - {{personaje.poder | number}}
            </li>
        </ul> -->

        <!-- <app-personajes [data]="personajes"> -->
        <app-personajes [personajes]="personajes">

        </app-personajes>
    </div>

    <div class="col">
        <app-agregar [personajes]="personajes" [nuevo]="nuevo"></app-agregar>
    </div>
</div>